@charset "utf-8";
* {
	margin:0;
	padding:0;
	list-style:none;
	border:0;
}
body{
	font-family:微软雅黑;
	font-size:12px;
	background:#f1f2f6;
	}
a{
	text-decoration:none;
	}
img{
	border:none;
	}
li{
	list-style:none;
	}
.clear{
	clear:both;
	}

.cont{
	width:100%;
	overflow:hidden;
	margin:0 auto;
	background:#fff;
	padding:5% 0;
	border-bottom:1px solid #e8ebf0;
	}
.cont li{
	width:33.3%;
	text-align:center;
	overflow:hidden;
	float:left;
	}
.cont li img{
	width:60%;
	}	
.cont a{
	color:#111;
	font-size:18px;
	}
.cont p{
	margin-bottom:5px;
	}	
.cont1{
	background:#fff;
	margin-top:10px;
	overflow:hidden;
	border-top:1px solid #e8ebf0;
	border-bottom:1px solid #e8ebf0;
	width:100%;
	padding:0 5%;
	}	
.cont1-top{
	overflow:hidden;
	padding:30px 0;
	}
.cont1-s1{
	font-size:18px;
	display:block;
	float:left;
	border-left:4px solid #f00;
	padding-left:10px;
	}	
.cont1-s2{
	font-size:18px;
	display:block;
	float:right;
	border-left:1px solid #333;
	padding-left:20px;
	}	
.cont1-s2 a{
	font-size:18px;
	color:#333;
	}
.cont1-ul{
	overflow:hidden;
	}		
.cont1-ul li{
	float:left;
	width:30%;
	margin:0 1.5% 10px 1.5%;
	}
.cont1-p1 img{
	width:100%;
	}
.cont1-p2{
	color:#333;
	font-size:16px;
	margin:5px 0 2px 0;
	}
.cont1-p3{
	color:#666;
	font-size:18px;
	}
.cont1-p3 span{
	color:#f00;
	}
.foot{
	height:100px;
	padding:20px 5% 10px 5%;
	width:100%;
	text-align:right;
	background:#2b353c;
	}
.foot p{
	margin:0 0 10px 0;
	color:#fff;
	font-family:微软雅黑;
	font-size:14px;
	}
.xd-top img{
	width:100%;
	}
.xd-cont1{
	width:90%;
	margin:3% auto 0 auto;
	border:1px solid #eaeaf2;
	}
.xd-cont1-t{
	height:55px;
	background:#f3f4f8;
	line-height:55px;
	padding-left:5%;
	font-size:18px;
	color:#333;
	overflow:hidden;
	}
.xd-cont1-b{
	overflow:hidden;
	}
.xd-cont1-b li{
	width:25%;
	text-align:center;
	float:left;
	margin:10px 0;
	}
.xd-cont1-b a{
	color:#444;
	font-size:16px;
	}
.xd-cont1-b a img{
	width:60%;
	}
.xd-cont1-b a p{
	margin-bottom:5px;
	}
.xd-cont1-b2{
	overflow:hidden;
	padding:10px 5%;
	}
.xd-cul li{
	font-size:14px;
	line-height:24px;
	color:#666;
	}
.xd-cont1-b3{
	overflow:hidden;
	}
.xdc-s1{
	width:50%;
	text-align:center;
	display:block;
	float:left;
	}
.xdc-s3{
	width:50%;
	text-align:center;
	display:block;
	float:left;
	font-size:14px;
	line-height:44px;
	color:#666;
	border-bottom:1px solid #eee;
	}
.xdc-s4{
	width:49.5%;
	text-align:center;
	display:block;
	float:left;
	font-size:14px;
	line-height:44px;
	color:#666;
	border-left:1px solid #eee;
	border-bottom:1px solid #eee;
	}
.xd-cont1-t1{
	height:55px;
	background:#f3f4f8;
	line-height:55px;
	font-size:18px;
	color:#333;
	overflow:hidden;
	}
.xd-p1{
	line-height:22px;
	color:#999;
	margin-top:6px;
	width:90%;
	padding:0 5%;
	}
.xd-p2{
	font-size: 14px;
    line-height: 24px;
    color: #666;
	width:90%;
	padding:10px 5%;
	}
.xd-but{
	max-width:750px;
	min-width:320px;
	width:100%;
	margin:10px auto 0 auto;
	overflow:hidden;
	padding:10px 0;
	border-top:1px solid #eee;
	background:#fff;
	position:fixed;
	bottom:0;
	}
.xd-but a{
	display:block;
	width:90%;
	margin:0 auto;
	background:#e4474e;
	line-height:36px;
	height:36px;
	border-radius:5px;
	text-align:center;
	font-size:18px;
	color:#fff;
	}
.xd-dz1{
    line-height: 20px;
	overflow:hidden;
	padding:0 0 3px 0;
    background: #fff url(../images/wenli_xinfeng_f0aade5.png) 0 0;
    background-size: 33px;
    color: #292d33;
    border-bottom: 10px solid #f1f2f6;
	}
.xd-dz1 a{
	font-size:16px;
	color:#666;
	display:block;
	overflow:hidden;
	background:#fff;
	padding: 17px 0 17px 0;
	}
.xd-dz1-s1{
	display:block;
	float:left;
	width:15%;
	text-align:center;
	}
.xd-dz1-s1 img{
	width:20px;

	}
.xd-dz1-s2{
	display:block;
	float:left;
	width:75%;
	}
.xd-dz1-s3{
	display:block;
	float:left;
	width:10%;
	font-size:24px;
	font-weight:;
	}
.good1{
	width:20px;
	height:20px;
	border:1px solid #999;
	border-radius:50%;
	}
.good2{
	width:20px;
	height:20px;
	border:1px solid #FFF;
	border-radius:50%;
	background:url(../images/quan.png) no-repeat;
	}
.xd-dz2{
    line-height: 20px;
	overflow:hidden;
	padding:0 0 3px 0;
    background-size: 33px;
    color: #292d33;
    border-bottom: 10px solid #f1f2f6;
	}
.xd-dz2 a{
	font-size:16px;
	color:#666;
	display:block;
	overflow:hidden;
	background:#fff;
	padding: 17px 0 17px 0;
	}
.xd-dz1-d{
	width:10%;
	float:left;
	overflow:hidden;
	padding:0 0 0 10px;
	margin-top:5px;
	}
.xd-dz1-d input{
	outline:none;
	}
.xd-dz-a1{
	color:#666;
	overflow:hidden;
	float:right;
	}
.xd-dz-as1{
	float:left;
	display:block;
	margin:0px 0 0 10px;
	}
.xd-dz-as2{
	float:left;
	display:block;
	}
.xd-dz-as2 img{
	width:24px;
	}
.xd-dz-d1{
	overflow:hidden;
	background:#fff;
	padding:0 5%;
	border-top:1px solid #eee;
	}
.xd-ulab{
	overflow:hidden;
	background:#fff;
	padding:2% 0 2% 5%;
	}
.xd-ula{
	display:block;
	float:left;
	font-size:16px;
	color:#999;
	margin-right:10px;
	line-height:28px;
	}
.xd-ulb{
	font-size:16px;
	color:#666;
	display:block;
	float:left;
	line-height:28px;
	}
.xdd-p1{
	color:#666;
	font-size:18px;
	margin-left:10px;
	}
.xdd-p2{
	color:#999;
	margin-left:10px;
	}
.xd-ula1{
	display:block;
	float:left;
	font-size:16px;
	color:#666;
	margin-right:10px;
	line-height:22px;
	}
.xd-ulb1{
	font-size:16px;
	color:#666;
	display:block;
	float:left;
	line-height:22px;
	}
.xd-pzj{
	float:right;
	margin-right:5%;
	font-size:18px;
	color:#666;
	}
.xd-cg{
	overflow:hidden;
	background:#fff;
	width:100%;
	padding-bottom:100px;
	}
.xd-cgp1{
	text-align:center;
	margin:10% 0;
	}
.xd-cgp1 img{
	width:30%;
	}
.xd-cgp2{
	text-align:center;
	}
.xd-cgp2 img{
	width:70%;
	}
.ckdd-box{
	width:100%;
	padding:2% 0 5% 0;
	overflow:hidden;
	background:#fff;
	}
.box-top{
	width:100%;
	overflow:hidden;
	background:url(../images/mobile/ckdd1_12.jpg) repeat-x center;
	}
.box-top li{
	float:left;
	width:25%;
	text-align:center;
	padding-top:22px;
	}
.box-top li p{
	color:#666;
	font-size:16px;
	margin-top:5px;
	}
.xd-dz2a{
    line-height: 20px;
	overflow:hidden;
	padding:0 0 3px 0;
    background-size: 33px;
    color: #292d33;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	margin:20px 0;
	}
.xd-but1{
	max-width:750px;
	min-width:320px;
	width:100%;
	margin:10px auto 0 auto;
	overflow:hidden;

	padding:10px 0;
	border-top:1px solid #eee;
	background:#fff;
	position:absolute;
	bottom:0;
	}
.xd-but1 li{
	width:33%;
	text-align:center;
	float:left;
	overflow:hidden;
	border-right:1px solid #ccc;
	}
.xd-but1 li a{
	color:#666;
	font-size:14px;
	display:block;
	}
.xdbu1-s1{
	display:block;
	float:left;
	margin:0 5px;
	}
.xdbu1-s1 img{
	width:70%;
	}
.xdbu1-s2{
	float:left;
	display:block;
	margin:2px 0 0 0;
	}
.qxxd-box{
	width:100%;
	padding:5%;
	background:#fff;
	border-bottom:2px solid #eee;
	}
.qxxd-int{
	outline:none;
	border:0;
	color:#333;
	font-size:16px;
	width:100%;
	min-height:260px;
	font-family:微软雅黑;
	}
.qxxd-box2{
	padding:2% 5%;
	width:100%;
	margin-top:5%;
	background:#fff;
	font-size:14px;
	color:#999;
	}
.qxxd-box3{
	padding:10% 5% 40% 5%;
	width:100%;
	background:#fff;
	font-size:14px;
	color:#999;
	text-align:center;
	}
.qb-p1{
	margin:20px 0 10px 0;
	font-size:28px;
	color:#333;
	}
.tabzs{
	padding:2% 5%;
	color:#666;
	background:#fafafa;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	font-size:16px;
	}
.fwpj{
	background:#fff;
	overflow:hidden;
	padding:4% 5%;
	}	
.fwpj-p{
	font-size:16px;
	color:#666;
	margin:10px 0;
	}	
.fwpj-p1{
	margin-top:30px;
	overflow:hidden;
	}
.fwpj-int{
	width:100%;
	padding:5%;
	border-radius:10px;
	border:1px solid #ddd;
	min-height:150px;
	font-size:16px;
	font-family:微软雅黑;
	color:#666;
	}
.add-dz{
	overflow:hidden;
	background:#fff;
	padding:0 5%;
	}
.add-dz li{
	padding:10px;
	overflow:hidden;
	border-bottom:1px solid #ddd;
	}
.add-dz li span{
	display:block;
	float:left;
	}
.add-s1{
	width:10%;
	text-align:center;
	margin-right:5%;
	}
.add-s1 img{
	width:20px;
	}
.add-s2{
	width:85%;
	text-align:center;
	margin:2px 0 0 0;
	}
.add-int1{
	width:100%;
	font-size:15px;
	font-family:微软雅黑;
	color:#666;
	}

.xd-but2{
	max-width:750px;
	min-width:320px;
	width:100%;
	margin:10px auto 0 auto;
	overflow:hidden;

	padding:10px 0;
	border-top:1px solid #eee;
	background:#fff;
	position:absolute;
	bottom:0;
	}
.xd-but2 li{
	width:49.5%;
	text-align:center;
	float:left;
	overflow:hidden;
	border-right:1px solid #ccc;
	}
.xd-but2 li a{
	color:#666;
	font-size:14px;
	display:block;
	}
.xdbu2-s1{
	display:block;
	float:left;
	margin:0 15px 0 25%;
	}
.xdbu2-s1 img{
	width:70%;
	}
.xdbu2-s2{
	float:left;
	display:block;
	margin:2px 0 0 0;
	}
.bjy{
	width:100%;
	padding:5%;
	background:#fff;
	overflow:hidden;
	}
.bjy-ul1{
	overflow:hidden;
	border:1px solid #ccc;
	border-bottom:0;
	padding:10px 0;
	background:#f1f2f6;
	}
.bjy-ul1 li{
	float:left;
	width:20%;
	text-align:center;
	color:#333;
	}
.bjy-ul2{
	overflow:hidden;
	border:1px solid #ccc;
	border-top:0;
	}
.bjy-ul2 li{
	float:left;
	width:20%;
	text-align:center;
	padding:10px 0;
	color:#666;
	}
.bjy-ul2 li a{
	color:#666;
	}
.fwpj-ul{
	margin:20px 0 0 0;
	overflow:hidden;
	}
.fwpj-ul li{
	margin:10px 0;
	overflow:hidden;
	}
.fwpj-s1{
	float:left;
	display:block;
	margin:3px 5px 0 10px;
	}
.fwpj-s2{
	float:left;
	display:block;
	}
.bj-idx{
	overflow:hidden;
	padding:30px 5%;
	background:#fff;
	border-bottom:1px solid #eee;
	margin-bottom:20px;
	}
.bj-p1{
	color:#666;
	font-size:16px;
	margin-bottom:15px;
	}
.bj-p2{
	overflow:hidden;
	margin-top:10px;
	}
.bj-p2 a{
	width:100px;
	border:1px solid #ccc;
	background:#eee;
	height:36px;
	line-height:36px;
	text-align:center;
	font-family:微软雅黑;
	border-radius:5px;
	display:block;
	float:left;
	margin-right:10px;
	font-size:16px;
	color:#333
	}
.bj-idx1{
	overflow:hidden;
	padding:30px 5%;
	background:#fff;
	border-bottom:1px solid #eee;
	border-top:1px solid #eee;
	}
.bj-p3{
	overflow:hidden;
	margin-bottom:25px;
	}
.bj-s1{
	color:#666;
	font-size:16px;
	}
.bj-sel{
	border:1px solid #ccc;
	width:140px;
	margin-left:15px;
	border-radius:5px;
	padding-left:10px;
	}
.bj-p4{
	overflow:hidden;
	}
.bj-p4 a{
	width:100px;
	border:1px solid #eee;
	background:#e4474e;
	height:36px;
	line-height:36px;
	text-align:center;
	font-family:微软雅黑;
	border-radius:5px;
	display:block;
	float:left;
	margin-right:10px;
	font-size:16px;
	color:#fff
	
	}
.xd-dz1-s2a{
	display:block;
	float:left;
	width:75%;
	}
.xd-dz1-s2a input{
	margin:0 5px 0 5px;
	}
.xd-dz2b{
	overflow:hidden;
	padding:0 0 3px 0;
    background-size: 33px;
    color: #292d33;
    border-bottom: 10px solid #f1f2f6;
	background:#fff;
	padding: 17px 0 17px 0;
	font-size:16px;
	color:#666;
	}
.xd-dz1-s1i{
	display:block;
	float:left;
	width:15%;
	text-align:center;
	}
.xd-dz1-s1i img{
	width:30px;
	}
.wx-p1{
	overflow:hidden;
	}
.wx-p2{
	overflow:hidden;
	padding:0 3%;
	margin-top:20px;
	}
.wx-p2 a{
	float:left;
	}
.wx-p2 img{
	width:50px;
	margin-right:10px;
	}
.wx-p3{
	border-top:1px dashed #ccc;
	margin-top:15px;
	padding:10px 4%;
	}
.wx-text{
	width:100%;
	overflow:hidden;
	font-size:14px;
	color:#666;
	font-family:微软雅黑;
	}
.xd-butb{
	max-width:750px;
	min-width:320px;
	width:100%;
	margin:10px auto 0 auto;
	overflow:hidden;
	padding:10px 0;
	border-top:1px solid #eee;
	background:#fff;
	}
.xd-butb a{
	display:block;
	width:30%;
	margin:0 auto;
	background:#e4474e;
	line-height:36px;
	height:36px;
	float:right;
	border-radius:5px;
	text-align:center;
	font-size:18px;
	color:#fff;
	margin-right:5%;
	}
.xdb-s1{
	display:block;
	float:left;
	margin:5px 0 0 5%;
	font-size:16px;
	color:#666;
	}
.xdb-s1 b{
	color:#cf3333;
	}
@media (min-width:319px){
.cont a{font-size:18px;}
	}
@media (min-width:350px){
.cont a{font-size:20px;}
	}
@media (min-width:419px){

	}
@media (min-width:480px){
.cont a{font-size:22px;}
	}
@media (min-width:519px){

	}
@media (min-width:550px){

	}
@media (min-width:580px){
.cont a{font-size:24px;}
	}
@media (min-width:639px){

	}
@media (min-width:690px){
.cont a{font-size:26px;}
	}
@media (min-width:750px){

	}