body {
    color: #555;
    font-size: 14px;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, code, kbd, pre, samp {
    font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Source Han Sans","Microsoft YaHei","WenQuanYi Zen Hei","WenQuanYi Micro Hei",sans-serif;
}

a {
    color: #666;
}

.big-text {
    font-size: 16px;
}

.logo {
    width: 60px;
    height: 60px;
    margin: 10px 25px 0 15px;
}

h1.website-name {
    margin-left: 15px;
    font-size: 1.5em;
    color: #444;
    font-weight: normal;
}

.navbar-collapse {
    padding-left: 0;
}

.navbar-toggle {
    border: 1px solid #ddd;
}

.navbar-toggle:hover {
    background-color: #eee;
}

.navbar-toggle .icon-bar {
    border: 1px solid #ccc;
}

.description {
    font-size: 1em;
    color: #999;
}

.description:after {
    content: " />";
    color: #999;
}

.post-title:before {
    content: "{ ";
    color: #999;
}

.search-box {
    position: relative;
    top: 12px;
    right: 0;
}

.page {
    margin-top: 30px;
    padding: 15px;
}

.post {
    margin: 1.5em 0;
    border-bottom: 1px solid #eee;
}

.post-title {
    font-size: 1.3em;
    margin-bottom: 0.8em;
}

.post-title, .post-title a {
    color: #2a6496;
}

.description:before {
    content: "< ";
    color: #999;
}

.post-title:after {
    content: " }";
    color: #999;
}

.post-meta {
    list-style: none;
    margin: 1.5em 0;
    padding: 0;
}

.post-meta, .post-meta a {
    color: #999;
}

.post-meta li {
    display: inline-block;
    margin: 0 8px 0 0;
}

.post-content {
    line-height: 1.8em;
    word-wrap: break-word;
}

.post-content p {
    margin: 0 0 1em;
}

.post-content img {
    max-width: 100%;
}

.post-meta li.meta-comment {
    display: none;
}

.widget-list li {
    margin: 0 0 0.5em;
}

.tag {
    display: block;
    margin: 1.5em 0;
}

.tag a {
    display: inline-block;
    position: relative;
    height: 20px;
    line-height: 20px;
    margin: 5px 5px 5px 10px;
    padding: 0 5px 0 10px;
    background: #999;
    color: #fff;
    border-radius: 0 5px 5px 0;
    font-size: 12px;
    opacity: .8;
    text-decoration: none;
}

.tag a:hover {
    opacity: 1;
}
.tag a:before {
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: -10px;
    border-top: 10px solid transparent;
    border-right: 10px solid #999;
    border-bottom: 10px solid transparent;
}

.tag a:after {
    content: " ";
    width: 4px;
    height: 4px;
    background-color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
    position: absolute;
    top: 8px;
    left: 2px;
}

.recommend {
    display: none;
}

.page-navigator {
    text-align: center;
}

.footer {
    padding: 0 30px;
    font-size: 12px;
    color: #999;
}

.footer .analytics {
    display: none;
}

.sidebar {
    display: none;
    font-size: 12px;
    color: #999;
}

.sidebar  a {
    color: #999;
}

.log-in {
    height:85px;
    padding:12px 15px 3px 0;
    text-align: right;
    font-size: 1.375em;
}

.log-in a:hover {
    color: #2a6496;
    text-decoration: none;
}
.widget-comments {
    display: none;
}

/**** 手机访问弹出层 *****/
.modal-phone {
    background: url(phone.png) no-repeat;
    width: 300px;
    height: 525px;
    margin: 0 auto;
    padding: 100px 60px;
}
.modal-phone-text {
    padding-top: 30px;
    text-align: center;
    color: #8497a2;
}
.modal-phone-qrcode {
    padding-top: 30px;
    width: 100%;
    text-align: center;
}
button.close {
    color: #FFFFFF;
    opacity: 1;
}
.modal-open {
    overflow: auto !important;
}

.post-content a {
    color: #2a6496;
}

.footer a, .media-heading a, .widget-comments a {
    color: #444;
}

.sidebar h3 {
    font-size: 1.375em;
    margin: 0 0 0.8em;
}

.post-meta span, .sidebar h3 span, .log-in span {
    margin-right: 5px;
}

.widget-list {
    padding: 0;
}

.website {
    margin-left: 0;
    margin-right: 0;
}

.copyright {
    padding: 15px 0;
    text-align: center;
}

.input-group .glyphicon {
    color: #999;
}

.widget-list>li.category-child {
    margin-left: 15px;
}

/******* 自定义输入框组 *******/
.comment-list {
    padding: 0;
    font-size: 12px;
}

.comment-list li {
    list-style-type: none;
}

.comment-children {
    padding-left: 10px;
}

.comment-list li.comment-level-odd {
    background: #fff9e8;
    padding: 10px;
}

.comment-list li.comment-level-even {
    background: #fff;
    padding: 10px;
}

.avatar {
    border-radius: 50% 50% 0 50%;
}

/** 选择评论者为作者元素 **/
.comment-list li.comment-by-author a[rel~=external]:after {
    color: #c7254e;
    font-family: 'Glyphicons Halflings';
    content: "\e089";
    margin-left: 3px;
    font-size: 14px;
}

.media-heading a {
    font-size: 14px;
}

.media-heading time {
    margin-left: 15px;
    font-size: 0.75em;
    color: #999;
}

.media-heading span {
    margin-right: 5px;
}

.comment-reply {
    position: relative;
    margin-right: 5px;
}

.comment-reply span {
    margin-right: 5px;
}

.comment-reply a {
    color: #444;
    font-size: 12px;
    text-decoration: none;
}

.comment-reply a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e115";
    margin-left: 3px;
}

.respond {
    border-top: 1px solid transparent;
    margin-top: 20px;
}

.respond .input-group {
    margin-bottom: 8px;
}

.response {
    font-size: 16px;
    margin-top: 10px;
}

.sim-input {
    border: 0 solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

.sim-addon {
    border: 0 solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

.respond>.form-control, .respond>.input-group-addon, .sim-btn {
    border-radius: 0;
}

.text-sub {
    position: relative;
}
.sim-textarea {
    width: 100%;
    padding: 5px;
    color: #999;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.submit {
    margin-top: 5px;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    color: #999;
    position: absolute;
    bottom: 0;
    right: 0;
}

.submit span {
    margin-left: 3px;
}
.sim-textarea:focus, .submit:hover {
    color: #555;
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6)
}

.sim-textarea:-moz-placeholder {
    color: #999
}

.sim-textarea::-moz-placeholder {
    color: #999;
    opacity: 1
}

.sim-textarea:-ms-input-placeholder {
    color: #999
}

.sim-textarea::-webkit-input-placeholder {
    color: #999
}

.cancel-comment-reply {
    float: right;
    margin-right: 5px;
}

.cancel-comment-reply a {
    text-decoration: none;
}

.cancel-comment-reply a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e113";
    margin-left: 3px;
}

/******* 媒体查询 *******/
@media screen and (min-width: 768px) {
    .modal-sm {
        width: 300px;
    }

    .topbar {
        margin: 0;
    }

    .post-meta li.meta-comment {
        display: inline-block;
    }
}

@media screen and (min-width: 992px) {
    h1.website-name {
        margin-left: 25px;
        margin-top: 10px;
    }

    .website {
        margin: 0 0 0 -15px;
    }

    .fixed-navbar {
        position: fixed;
        height: 100%;
        border-radius: 0;
    }

    .topbar {
        margin: 0 0 0 -15px;
    }

    .logo {
        margin: 10px 25px 0;
    }

    .title {
        position: fixed;
        width: 83.33333333333334%;
        padding: 0;
        border-bottom: 1px solid #eee;
        display: block;
        background: #fff;
        z-index: 5
    }

    .nav>li {
        border-left: 5px solid transparent;
    }

    .nav>li.current {
        border-left: 5px solid #444;
        margin-left: -1px;
        padding-left: 1px;
    }

    .nav>li.current a {
        color: #444;
    }

    .nav>li>a {
        padding: 5px 15px 5px 20px;
        color: #999;
    }

    .nav>li>a:hover, .nav>li>a:focus {
        text-decoration: none;
        background-color: transparent;
    }

    .nav-stacked>li:last-child {
        margin-top: 27px;
    }

    .description {
        font-size: 1.25em;
        color: #999;
    }

    .page {
        margin-top: 85px;
        padding: 0;
    }

    .recommend {
        display: block;
        width: 100%;
        max-width: 100%;
        margin-bottom: 1.5em;
    }


    .comment-reply {
        right: -60px;
        transition: right .5s ease-out;
        -moz-transition: right .5s ease-out;
        -webkit-transition: right .5s ease-out;
        -o-transition: right .5s ease-out;
    }

    .media-body:hover .comment-reply {
        right: 0;
        transition: right .5s ease-out;
        -moz-transition: right .5s ease-out;
        -webkit-transition: right .5s ease-out;
        -o-transition: right .5s ease-out;
    }

    /**** 夜晚显示样式 ***/
    .night {
        background-color: #444;
        border: none;
        border-right: 10px solid #FFF;
    }
    .night h1.website-name a {
        color: #FFF;
    }
    .night .nav>li.current {
        border-left: 5px solid #FFF;
    }
    .night .nav>li.current a {
        color: #FFF;
    }
    .night .nav>li>a {
        color: #CCC;
    }
}

@media screen and (min-width: 1200px) {
    .night {
        background-color: #444;
        border: none;
        border-right: 50px solid #FFF;
    }

    .title {
        width: 50%;
    }

    #comments {
        margin-bottom: 30px;
    }

    .sidebar {
        display: block;
        position: fixed;
        padding: 0 0 0 20px;
    }

    .widget-comments {
        display: block;
    }

    .google {
        height: 500px;
        text-align: left;
    }
}

blockquote {
    color: #999;
}

blockquote p {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.8;
}

.bg-warning {
    background-color: #f2dede;
    margin-bottom: 1.5em;
    padding: 15px;
}

.media:first-child {
    margin-top: 5px;
}

code {
    white-space: normal;
}

::-webkit-scrollbar/*整体部分*/
{
    width: 10px;
    height:10px;
}

::-webkit-scrollbar-track/*滑动轨道*/
{
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0px;
    background: rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb/*滑块*/
{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb:hover/*滑块效果*/
{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.4);
}
